* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: #70acb7;
  color: #212946;
  font-family: Arial, Helvetica, sans-serif;
}

.score-board {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.score-board p {
  padding: 5px;
  font-size: 50px;
}

.first-page {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.5s ease;
}
.first-page h1 {
  font-size: 50px;
}
.first-page p, .game-result {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  color: #f1f1f1;
  text-shadow: 2px 2px gray;
}

.first-page button, .buttons .restart  {
  background-color: #212946;
  color: #f1f1f1;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 10px;
  box-shadow: 0 8px #696f81;
}

.first-page .start:hover, .buttons button:hover {
  background-color: #1b2136;
  cursor: pointer;
}

.first-page .start:active, .buttons button:active {
  background-color: #1b2136;
  box-shadow: 0 4px #575d6d;
  transform: translateY(4px);
}


.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: opacity 0.5s ease 0.5s;
}

.game-result {
  text-align: center;
  font-size: 30px;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: contain;
  width:50%;

}

.hands {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.buttons button {
background-color: #212946;
color: #f1f1f1;
border: none;
border-radius: 50%;
font-size: 17px;
text-align: center;
text-transform: uppercase;
text-shadow: 0px 2px #666;
font-weight: bold;
padding: 10px;
box-shadow: 0 9px #666;
width: 100px;
height: 100px;
}

.buttons .restart {
  border-radius: 5px;
  text-transform: none;
  width: 200px;
  height: 60px;
  font-weight: normal;
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}
